* {
	font-family: 'Corbert-Regular', sans-serif;
}

@font-face{
    font-family:"Metropolis-Black";
    src:url('./Metropolis-Black.otf');
}

@font-face{
	font-family:"PrimeRegular";
	src:url('./PrimeRegular.otf');
}

@font-face{
    font-family:"Corbert-Regular";
    src:url('./Corbert-Regular.otf');
}